
html{
    font-size: 14px;
}

img{
    max-width: 100%;
    border-radius: 3px;
}
body{
    font-family: $font-ubuntu;
}

// Placeholder for image


.img-holder{
    border-radius: 3px;
    position: relative;
    background: #ccc url('assets/logo-small.png') no-repeat center center;
    background-size: 80px auto;
    overflow:hidden;
    display:block;
    &:after{
        content: '';
        display: block;;
        width: 100%;
    }
    
    &.size-1by1{
        &:after{
            padding-top: 100%;
        }
    }
    &.size-4by3{
        &:after{
            padding-top: 75%;
        }
    }
    &.size-16by9{
        &:after{
            padding-top: 58.96%;
        }
    }
    &.size-16by99{
        &:after{
            padding-top: 59.00%;
        }
    }
    &.size-2515{
        &:after{
            padding-top: 25.15%;
        }
    }
    
    img{
        display: block;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
    }
}

