header{height:100px;
       .navbar{border-bottom: 1px solid #EBEBEB;}
       .navbar-light .navbar-nav .nav-link{font-size: 1.2rem !important;
                                           padding-left: 32px;
                                           color: $primary;
                                           font-family: $font-proximaNova-regular;
                                           &.active:after{
                                               content: '';
                                               display: block;
                                               margin: 0 auto;
                                               width: 80%;
                                               border-bottom: 3px solid $danger;
                                               padding-top: 20px;} }
       .btn-danger{font-size:0.7rem; }
       .navbar-brand{max-width: 272px !important;}
}
