header{
       transition:0.5s linear;
       .navbar{border-bottom: 1px solid #EBEBEB;  
               .navbar-brand{
                   max-width: 40%;
               }   
               .navbar-nav {
                   .nav-link{font-size: 1.2rem !important;
                              padding: 10px;
                              position: relative;
                              color: $primary;
                              font-family: $font-proximaNova-regular;
                              &.active:after,&:hover:after{
                                  content: '';
                                  display: block;
                                  margin: 0 auto;
                                  width: 70%;
                                  border-bottom: 3px solid $danger;
                                  padding-top: 20px;
                                  position: absolute;
                                  bottom: -3px;
                                  left: 15%;} }}
       .btn-danger{font-size:0.7rem; }

       }}
.header-active{
    background: white;}

