main{margin-top: 100px;
     background:  radial-gradient(circle, #EFEFEF 0%, #FFFFFF 100%);
     .news-aside{box-shadow: 0 15px 14px -10px rgba(88,112,148,0.31);background-color: #FFFFFF;h2{padding-left:10px;&:after{
                                               content: '';
                                               display: block;
                                               margin-left:  0px ;
                                               width: 15%;
                                               border-bottom: 3px solid $danger;
                                               padding-top: 10px;} }
     p{padding-top: 10px}} 
     
}

